.container {
  width: 80vw;
  margin: 0 10vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // border: 1px solid black;
}

.content {
  width: 50vw;
  // border: 1px solid green;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.roller {
  width: 15em;
  height: 10em;
  background: lightgray;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  .custom-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    input {
      width: 3em;
    }
  }
  h2 {
    text-align: center;
  }
}
